<div class="form-group">
        <label class="col-md-4" >Category</label>
        <select class="form-control" [(ngModel)]="category" >

        <option value="Drama" >Drama</option>
        <option value="Fiction">Fiction</option>
        <option value="Comedy">Comedy</option>
        <option value="Horror">Horror</option>
        <option value="Action">Action</option>
        
    </select>
  </div>
  <!-- <div class="form-group">
        <label class="col-md-4" >Rating</label>
        <select class="form-control" [(ngModel)]="rating" >

        <option value="1" >1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        
    </select> 
  </div>-->

<table class="table table-hover">
    
    <thead>
    <tr>
        <td>Movie Name</td>
        <td>Movie rating</td>
        <td>Category</td>
    </tr>
    </thead>
    
    <tbody>
            <tr *ngFor="let movie of movies | movieFilter:category">
            <td>{{ movie.name }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.category }}</td>
            
        </tr>
    </tbody>
<!--     <tbody>
            <tr *ngFor="let movie1 of movies | ratingFilter:rating">
            <td>{{ movie.name }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.category }}</td>
            
        </tr>
    </tbody> -->
</table>